.logo {
  width: 10rem;
  max-height: 60px; }

h1 {
  font-size: 2rem; }

.image-container {
  width: 75%;
  margin: 0 auto;
  position: relative; }
  .image-container .image-overlay {
    position: relative;
    overflow: hidden;
    border-radius: 10px; }
    .image-container .image-overlay img {
      display: block;
      width: 100%;
      height: auto; }
  .image-container .image-text {
    position: absolute;
    top: 50px;
    left: 10px;
    color: #d7ade6;
    font-weight: lighter;
    font-size: 30px; }

.vuelos {
  height: 250px; }

.btn-base, .btn-reservar,
.btn-ver-mas,
.btn-otro {
  background-color: #EC144C;
  background: linear-gradient(to top, #EC144C, #EC1CEC); }
  .btn-base:hover, .btn-reservar:hover,
  .btn-ver-mas:hover,
  .btn-otro:hover {
    color: #14396A !important;
    background: #6ECF7E;
    background: linear-gradient(to top, #6ECF7E, #EC1CEC); }

@media (max-width: 768px) {
  .btn-reservar {
    background-color: #FF5733;
    background: linear-gradient(to top, #FF5733, #FFB733); }
    .btn-reservar:hover {
      color: #14396A !important;
      background: #6ECF7E;
      background: linear-gradient(to top, #6ECF7E, #EC1CEC); } }

.latampass-options {
  text-align: center; }
  .latampass-options h2 {
    margin-bottom: 20px; }
  .latampass-options ul {
    list-style: none;
    padding: 0;
    margin: 0; }
    .latampass-options ul li {
      margin-bottom: 10px; }
